* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* custom cursor */
    cursor: url(./assets/ball.png), auto;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
.black {
    background-color: black !important;
}

.navbar {
    position: fixed !important;
    width: 100% !important;
    z-index: 1;
    font-weight: 600;
}

.navbar a {
    transition: all .2s;
}
/* banner starts */
header{
    height: 25vh;
    background:linear-gradient(to top, rgba(0,0,0,0.2),rgba(0,0,0,0.7)), url(./assets/images/m1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
   }
   
      
   .banner-center{
    height: 25vh;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
   }
   
   .banner-center h1{
    font-size: 3rem;
    padding-right: 90%;
   }
   
   .banner-center p{
   font-size: 2rem;
   }
   
   
   /* banner end */
   