* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* custom cursor */
    cursor: url(./assets/ball.png), auto;
    scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #333;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #222;
  }

body {
    overflow-x: hidden;
}

.black {
    background-color: black !important;
}

.navbar {
    position: fixed !important;
    width: 100% !important;
    z-index: 1;
    font-weight: 600;
}

.navbar a {
    transition: all .2s;
}


/* banner starts */
header{
 height: 100vh;
 background:linear-gradient(to top, rgba(0,0,0,0.7),rgba(0,0,0,0.2)), url(./assets/images/bimage3.jpg);
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;

}

.banner-center{
 height: 100vh;
 color: whitesmoke;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 padding: 75px;
}

.banner-center h1{
 font-size: 5rem;
}

.banner-center p{
font-size: 2rem;
}


/* banner end */


/* team cards */

.main-container {
    position: relative;
    width: 280px;
    height: 360px;
    border: none;
}

.parent-row {
    width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
    background: black;
}

.parent-row::-webkit-scrollbar {
    width: 1px !important; 
}

.parent-row::-webkit-scrollbar-track {
    background: #000000;
}

.parent-row::-webkit-scrollbar-thumb {
    background: #333;
}

.parent-row::-webkit-scrollbar-thumb:hover {
    background: #222;
}

.team-card-row {
    width: max-content;
    display: flex;
    white-space: nowrap;
    /* overflow-x: scroll;
    overflow-y: auto; */
}

.team-cards-heading {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 36px;
    border-bottom: 5px solid #F15025;
    margin-left: 40px;
    color: white;
}

.team-card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    border-radius: 2%;
    border: none;
}

.team-card:hover {
    transform: rotateY(180deg);
}

.card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #040e27;
    color: white;
    border-radius: 2%;
    border: none;
}

.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: black;
    color: white;
    transform: rotateY(180deg);
    border-radius: 2%;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
}

.card-back h3 {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
}

.card-back h4 {
    font-weight: bold;
    font-size: 24px;
}

.card-back p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

.card-front img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 180px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.card {
    position: relative;
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .team-btn {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    border: none;
    border-radius: 60px;
    height: 56px;
    color: #222;
    font-size: 32px;
    font-weight: bold;
    transition: all .2s;
} */

.csk {
    background: linear-gradient(152.25deg, #F8B200 -1.85%, #FFC702 -1.84%, rgba(251, 255, 67, 1) 107.65%);
}

.srh {
    background: linear-gradient(157.21deg, #A81E27 -2.03%, #E95432 28.55%, #F8A721 104.04%);}

.dc {
    background: linear-gradient(153.6deg, #202159 0.63%, #010356 0.64%, #1519FF 111.77%);
}
.kkr {
    background: linear-gradient(151.23deg, #110040 0.69%, #8908EE 116.28%);
}
.rr {
    background: linear-gradient(154.62deg, #13027C -1.78%, #5000FB 47.12%, #DF01F2 116.61%);
}
.mi {
    background: linear-gradient(152.25deg, #14C2F9 -1.85%, #0066FF -1.84%, #0CD3FF 107.65%);
}

.rcb {
    background: linear-gradient(152.25deg, #3F0205 -1.85%, #BC000A 45.81%, rgba(232, 28, 28, 1) 93.39%);}

.kxip {
    background: linear-gradient(152.25deg, #FF000D -1.84%, #FF3131 33.89%, rgba(255, 78, 78, 1) 97.19%);}


/* table title */
/* .title-underline{
 width: 20rem;
 border: 3px solid #F15025;
 margin: 0px auto 10px auto;
 background-color: #F15025;
} */
/* table title */
/*table css*/

#points-table {
    background: #040E27;
}

table{
    overflow-x: scroll;
}
table thead{
    color: yellow !important;
    font-size: 15px !important;
    font-weight: bolder;
}
.lefti{
    text-align: left !important;
}
table .colorhead,.color2{
    background-color: #040e27 !important;
}
table .color1{
    background-color: #0e2459 !important;
}
table .green{
    color: chartreuse;
}
table .red{
    color: red;
}
/*table css end*/

