*{
    padding: 0;
}
header{
    clear: both;
    height: 60px;
    background-color:black;
}
nav{
    padding-top: 12px;
    float: right;
    padding-right: 100px;
}
.ipllogo{
    height: 60px;
    padding-right: 30px;
    float: left;
}
nav li {
    list-style: none;
    display: inline;
}
nav ul li{
    padding-right: 30px;
    justify-content: space-between;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
}
nav ul li a:hover{
    color:pink;
    text-decoration: none;
}
