* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.black {
    background-color: black !important;
}

.navbar {
    position: fixed !important;
    width: 100% !important;
    z-index: 1;
}


/* banner starts */
header{
 height: 100vh;
 background:linear-gradient(to top, rgba(0,0,0,0.7),rgba(0,0,0,0.2)), url(./images/bimage3.jpg);
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;

}

.banner-center{
 height: 100vh;
 color: whitesmoke;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 padding: 75px;
}

.banner-center h1{
 font-size: 5rem;
}

.banner-center p{
font-size: 2rem;
}


/* banner end */


.card {
    position: relative;
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.team-btn {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    border: none;
    border-radius: 60px;
    height: 56px;
    color: #222;
    font-size: 32px;
    font-weight: bold;
    transition: all .2s;
}

.csk {
    background: linear-gradient(104.38deg, #E6EA2F 51.82%, #666815 98.36%);
}

.srh {
    background: linear-gradient(97.48deg, rgba(249, 94, 7, 1) 56.99%, rgba(30, 28, 26, 1) 120.84%);
}

.dc {
    background: linear-gradient(106.75deg, #60A3F9 70.88%, #1079FF 89.87%);
}

.kkr {
    background: linear-gradient(100.45deg, #CAB855 18.93%, #62369D 48.75%);
}

.rr {
    background: linear-gradient(104.51deg, rgba(255, 123, 168, 0.85) 46.73%, #505EE3 92.77%);
}

.mi {
    background: linear-gradient(104.51deg, #276FB3 54.51%, #2B88E0 92.77%);
}

.rcb {
    background: linear-gradient(104.38deg, #EB202C 63.1%, #33331E 91.71%);
}

.kxip {
    background: linear-gradient(104.51deg, #EF1818 11.5%, #CF8E8E 89.95%);
}


/* table title */
.title-underline{
 width: 20rem;
 border: 3px solid #F15025;
 margin: 0px auto 10px auto;
 background-color: #F15025;
}
/* table title */
/*table css*/
table thead{
    color: yellow !important;
    font-size: 15px !important;
    font-weight: bolder;
}
table .colorhead,.color2{
    background-color: #040e27 !important;
}
table .color1{
    background-color: #0e2459 !important;
}
table .green{
    color: chartreuse;
}
table .red{
    color: red;
}
/*table css end*/

